// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pokemon-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;

  .pokemon-list-item {
    width: 33%;

    .pokemon-info * {
      display: inline;
      vertical-align: top;
      font-size: 14px;
      line-height: 24px;
    }

    .pokemon-avatar {
      width: 250px;
    }

    .pokemon-types {
      display: flex;
      justify-content: center;

      .pokemon-type {
        width: 100px;
        margin: 10px;
      }
    }
  }
}