<%- include('./header') %>
        <h1>This is 
        
        <!-- if is apple then show an other show a -->
        <% if (fruit === "apple") { %>
            an
        <% } else { %>
            a
        <% } %>
            
        <%= fruit %></h1>

        <img width="200px" src="apple.webp" >

        <p>powered by <%= developer %></p>
    </body>
</html>